site_name: HBT-HERONS

theme:
  name: material
  features:
    - search.highlight
    - navigation.path
    - navigation.tabs
    - navigation.tabs.sticky
    - toc.integrate
    - content.code.copy
    - content.tabs.link
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
    - mkdocs-video

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - def_list
  - pymdownx.tabbed:
      alternate_style: true
  - abbr
  - attr_list
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.arithmatex:
      generic: true
  - md_in_html
  - pymdownx.blocks.caption

# For Latex equations
extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Welcome: index.md
  - Algorithm:
      - ./algorithm/overview.md
      - ./algorithm/friends_of_friends.md
      - ./algorithm/parameter_choices.md
  - ./installation.md
  - Running:
    - ./running/start.md
    - ./running/parameter_file.md
    - ./running/diagnostics.md
  - Outputs:
      - ./outputs/format.md
      - ./outputs/timing.md
      - ./outputs/subhalo_properties.md
      - ./outputs/merger_trees.md

repo_url: https://github.com/SWIFTSIM/HBT-HERONS
repo_name: SWIFTSIM/HBT-HERONS